.hidden
{
    display:none
}

.ticks{
    font-weight: bold;
    color: rgba(10, 10, 10, 0.911);
    padding: 10px;
    display: inline-block;
    font-size: 1.25rem;
    border-radius: 15px;
    background-color: beige;
}
.ticks:hover{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.76);
    border-radius: 15px;
    background-color: aqua;
    padding: 10px;
    display: inline-block;
    font-size: 1.25rem;
    border-radius: 15px;
    font-style: normal;
    text-decoration: none;
}
.active{
    color: rgba(0, 0, 0, 0.76);
    border-radius: 15px;
    background-color: aqua;
}